In [1]:
#in this we will also make the data perfect before performing operations , its super simlar to sinhle variable, but there are just more number of independent variables so a lil different

In [3]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [5]:
df=pd.read_csv("homeprices2.csv")
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [7]:
#to fix the null value we find the median of all bedroom values and put floor that means no decimal points
import math
median_bedrooms=math.floor(df.bedrooms.median())
print(median_bedrooms)

3

In [10]:
df.bedrooms=df.bedrooms.fillna(median_bedrooms)#now null (na) is gone
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [12]:
#our dataset is now perfect we can just train it now , price is a dependent variable on 3 independent variables atrea , bedrooms,age
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)
print(reg.coef_)
print(reg.intercept_)

[   137.25 -26025.    -6825.  ]
383724.9999999998

In [16]:
#we can now predict the values
reg.predict([[3000,4,35]])

/opt/miniconda3/lib/python3.13/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([452500.])

In [17]:
reg.predict([[7000,8,1]])#the practice given in the video is similar no need

/opt/miniconda3/lib/python3.13/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([1129450.])